<h1>How to play this game</h1>


  <p>1 - Argue about who's going to be player 1 and who's going to be player 2</p>
  <p>2 - Each decide whether to throw ROCK, PAPER or SCISSORS</p>
  <p>3 - Enter your choices in the URL bar, in the format<br><br>localhost:4567/play/[player 1's choice]/[player 2's choice]<br></p>
  <p>4 - ENJOY THE ESCHATON</p>

<div id="over">
<img src="./boom2.gif" alt="nuclear blast">
</div>
