<!DOCTYPE HTML>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>ESCHATON</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Black+Ops+One" rel="stylesheet">
  </head>
  <body>
    <nav>
     <ul>
       <li><a href="/">HOME</a></li>
       <li><a href="/instructions">INSTRUCTIONS</a></li>
       <li><a href="/about">ABOUT</a></li>
     </ul>
    </nav>
    <%= yield %>
  </body>
</html>
