

<h2>The players launch and... </h2>


<%if @game == "MUTUALLY ASSURED DESTRUCTION! Launch again!"%>
  <h1><%= @game %></h1>
  <img class="imageblock" src="<%= url('/boom10.gif') %>" alt="nuclear blast"/>
<%else%>
  <h1><%= @game %></h1>
<img class="imageblock" src="<%= url('/boom4.gif') %>" alt="nuclear blast"/>
<%end%>
