<p>Hello <%= @pizza.pretty_name() %>. We're sorry to hear you no longer want your pizza. </p>

<p>Your order of <%= @pizza.quantity() %> x <%= @pizza.topping() %> has been cancelled.</p>

<p>Please call 0131 290 2600 if it turns up anyway.</p>
