<form action="/pizzas/<%= @pizza.id %>" method="POST">

  <label for="first-name-field">First Name:</label>
  <input id="first-name-field" name="first_name" type="text" value="<%= @pizza.first_name %>"/>
  <label for="last-name-field">Last Name:</label>
  <input type="text" name="last_name" id="last-name-field" value="<%= @pizza.last_name %>">
  <label for="pizza-select">Select your pizza:</label>
  <select id="pizza-select" name="topping">
    <option selected disabled>Please Confirm</option>
    <option value="Margherita">Margherita</option>
    <option value="Veneziana">Veneziana</option>
    <option value="Veggie">Veggie</option>
    <option value="Italian Sausage">Italian Sausage</option>
    <option value="Pepperoni">Pepperoni</option>
  </select>

  <label for="quantity-field">Quantity</label>
  <input type="number" name="quantity" id="quantity-field" value="<%= @pizza.quantity %>">

  <input type="submit" value="Edit Pizza Order">

</form>
