<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Atomic+Age" rel="stylesheet">
</head>
<body>
  <header>
    <h1>Wholesome Matt's Gluten-'n'-Bovine-Lactose Hot Disc Emporium</h1>
  </header>
  <nav>
    <a href="/pizzas">All Pizza Orders</a>
    <a href="/pizzas/new">Create New Order</a>
  </nav>
  <%= yield %>
</body>
</html>
