<p>Hello <%= @pizza.pretty_name() %>. We can confirm that your order has been updated. </p>

<p>Your order is now <%= @pizza.quantity() %> x <%= @pizza.topping() %>.</p>

<p>Please call 0131 290 2600 if there are any problems.</p>
